!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1"}
    %title
      = APP_CONFIG['title']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      = render "layouts/menu"
      - if controller.controller_path.match /^devise\// then
        %header.mdl-layout__header
          .mdl-layout__header-row
            %span
              = t(controller.controller_path.gsub("/", ".") + "." + controller.action_name + ".title" )
        %main.mdl-layout__content
          .page-content
            = yield
      - else
        = yield
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          .mdl-logo
            = APP_CONFIG['title']
          %ul.mdl-mini-footer__link-list
            %li
              Copyright 2016 Jan-Frederik Rieckers
            %li
              = link_to "Home", root_path
