!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1"}
    %title
      = APP_CONFIG['title']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to "https://github.com/janfred/tippspiel" do
      %img{src: "https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", style: "position: absolute; top: 0; right: 0; border: 0; z-index: 9999;", alt: "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"}
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      = render "layouts/menu"
      - if controller.controller_path.match /^devise\// then
        %header.mdl-layout__header
          .mdl-layout__header-row
            %span
              = t(controller.controller_path.gsub("/", ".") + "." + controller.action_name + ".title" )
        %main.mdl-layout__content
          .page-content
            = yield
      - else
        = yield
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          .mdl-logo
            = APP_CONFIG['title']
          %ul.mdl-mini-footer__link-list
            %li
              Copyright 2016 Jan-Frederik Rieckers
            %li
              = link_to "Home", root_path
